<div>
  <h4>Choose a color and move your mouse hover the text</h4>
  <div>
    <input type="radio" name="colors" (click)="color='lightgreen'">Green
    <input type="radio" name="colors" (click)="color='yellow'">Yellow
    <input type="radio" name="colors" (click)="color='cyan'">Cyan
  </div>
  {{color}}
  <!--<p appHighlight highlightColor="red">Highlight !!</p>-->
  <!--<p appHighlight [highlightColor]="backgroudColor">Another Highlight !!</p>-->
  <p [appHighlight]="color" defaultColor="violet" fontColor="red">Another Highlight !!</p>
</div>
