<div>
  <label>Save new name:
    <input #newName>
  </label>
  <button (click)="add(newName.value); newName.value=''">add</button>
</div>

<h2>Heroes list</h2>
<ul class="heroes">
  <li *ngFor="let hero of heroes" [class.selected]="hero === selectedHero" (click)="onSelect(hero)">
    <a routerLink="/detail/{{hero.id}}">
      <span class="badge">{{hero.id}}</span> {{hero.name}}
    </a>
    <button class="delete" title="delete hero" (click)="delHero(hero)">x</button>
  </li>
</ul>

<div *ngIf="selectedHero">
  <h2>选中的 Hero {{selectedHero.name | uppercase}} Details</h2>
  <div><span>id: </span>{{selectedHero.id}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="selectedHero.name" placeholder="name">
    </label>
  </div>
</div>

<!--<app-hero-detail [hero]="selectedHero"></app-hero-detail>-->
